[Desktop Entry]
Type=Application
Name=Shijimi
Comment=Minimal browser-based terminal emulator
Exec=node /home/iguchi/dev/shijimi/bin/shijimi.js
Icon=/home/iguchi/dev/shijimi/src/icon.png
Terminal=false
Categories=System;TerminalEmulator;
StartupWMClass=shijimi
